<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Education</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>June 2023 - Present</p>
      </div>
      <div class="col-lg-6">
        <p>CG Spectrum - Game Programming Course</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>March 2023 - June 2023</p>
      </div>
      <div class="col-lg-6">
        <p>CG Spectrum - Introduction To Game Programming</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="img/portfolio/CDuffettCV.pdf" class="btn btn-lg btn-outline" download>
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
